body
{
	font-family: 'Droid Sans', sans-serif;
	min-height: 100vh;
	background-color: #ffe373;
}
.navBar
{
	background-color: #fc0;
	border-bottom: #e8bd10 solid 1px;
}
.navBar .row h3
{
	font-family: 'Roboto', sans-serif;
}
.imgBarTop
{
	padding: 0.3%;
}
.imgBarTop .col-sm-3
{
	padding-right: 10px;
}
.imgBarTop img
{
	width: 92%;
	height: 95%;
}
.navBar .col-sm-9 a
{
	color: black;
}
.navBar .col-sm-9 a:focus,.navBar .col-sm-9 a:active,.navBar .col-sm-9 a:hover
{
	text-decoration: none;

}
.loginMenu
{
	text-align: right;
	padding-top: 1%;
}
.loginBarB #logoutID
{
	display: inline-block;
	margin-right: 3%;
}
#notID
{
	display: inline-block;
}

a{
	color: black;
}
/*--------------------TABS-------------------*/
#exTab3
{
	min-height: 63vh;
}
#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #d0a600;
  padding : 5px 15px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
{
	background-color: #e8bd10
}
.nav-pills li a
{
	font-size: 1.2vw;
}
.nav-pills li .active
{
	border-bottom: solid 1px black;
}
#nextButtonID
{
	float: right;
	width: 60px;
	height: 30px;
	color: black;
	font-size: 1.1vw;
	font-weight: bold;
	background-color: auto;
	margin-right: 5%;
	border:solid 1px black;
	border-radius:8px;
	padding-right: 10px;
}
#prevButtonID
{
	float: right;
	width: 70px;
	height: 30px;
	color: black;
	font-size: 1.1vw;
	font-weight: bold;
	background-color: auto;
	margin-right: 2%;
	border:solid 1px black;
	border-radius:8px;
}
#nextButtonID:hover,#prevButtonID:hover,#subButtonID:hover,#finishButtonID:hover
{
	box-shadow:  0px 0px 10px black;
}
#nextButtonID:active,#nextButtonID:focus,#prevButtonID:active,#prevButtonID:focus,
#finishButtonID:active,#finishButtonID:focus
{
	outline: none;
}
/*-------1st panel-----------*/
.stuStart h4
{
	text-decoration: underline;
}
.stuTitle h4
{
	font-size: 1.4vw;
	font-weight: bold;
}
.stuBody
{
	max-height: 30vh;
	overflow-y: scroll;
}
.stuBody .col-sm-2,.stuBody .col-sm-3
{
	border-right: solid 1px black;
}
input[type="radio"]
{
	vertical-align: middle;
	width: 40px;
}

/*-----------2nd panel--------*/
select
{
	width: auto;
	height: auto;
	padding: 1%;
	margin: 1%;
	border:solid 1px black;
	color: black;
}


/*------------------3rd panel---------*/
#in
{
    width: 80%;
    border: solid 1px black;
    border-radius: 8px;
    padding: 1%;
}














/*-------END-----------------*/
.bodyPart2
{
	margin-top: 2%;
	background-color: #fc0;
}
.bodyPart2 .col-sm-6
{
	text-align: center;
}