body
{
	font-family: 'Droid Sans', sans-serif;
	min-height: 100vh;
	background-color: #ffe373;
}
.navBar
{
	background-color: #fc0;
	border-bottom: #e8bd10 solid 1px;
}
.navBar .row h3
{
	font-family: 'Roboto', sans-serif;
}
.imgBarTop
{
	padding: 0.3%;
}
.imgBarTop .col-sm-3
{
	padding-right: 10px;
}
.imgBarTop img
{
	width: 92%;
	height: 95%;
}
.navBar .col-sm-9 a
{
	color: black;
}
.navBar .col-sm-9 a:focus,.navBar .col-sm-9 a:active,.navBar .col-sm-9 a:hover
{
	text-decoration: none;

}
.loginMenu
{
	float: right;
}
.loginMenu a
{
	color: black;
}
.loginBarA
{
	margin:4% 1% 2% 1%;
	float: right;
}
.loginBarA .colsm4
{
	padding-right: 5px;
	display: inline-block;
}
.loginBarB
{
	margin: 1%;
	float: right;
}
.loginBarB .colsm6
{
	padding-right: 5px;
	display: inline-block;
}
.loginMenu button
{
	width: 70px;
	height: 30px;
	border:solid 1px black;
	border-radius: 8px;
}
.loginMenu button:hover{box-shadow: 2px 2px 3px black;}
.loginMenu button:active,.loginMenu button:focus{outline: none;}
.registerMenu
{
	padding-left: 1%;
}
.titleReg h3,.titleReg h4
{
	text-decoration: underline;
	font-weight: bold;
}
hr
{
	height: 1em;
	border-top: solid 1px black;
}
.formReg form h4
{
	margin-top: 2%;
	text-decoration: underline;
}
.FormLeftSide
{
	text-align: left;
	display: inline-block;
	width: 40%;
}
.FormLeftSide div
{
	margin: 1%;
	height: 30px;
	font-size: 1.1vw;
}
.FormRightSide
{
	display: inline-block;
	float: right;
	width: 50%;
	text-align: left;
}
.FormRightSide input
{
	margin: 1.5%;
	padding-left: 1%;
	width: 15vw;
	border-radius: 5px;
	border: solid 1px black;
	display: block;
}
.FormRightSide input:active,.FormRightSide input:focus
{
	outline: none;
}
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.AboutUsBlog
{
	padding: 5% 1%; 
}


/*------------TABLE -----------*/
tr td input
{
	width: 90%;
	border:solid 1px black;
	border-radius: 5px;
	padding-left: 1%;
}
tr td input:active,tr td input:focus
{
	outline: none;
}
.table-bordered,.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th 
{
	border-color: black;
}	

.JEETitle, .JEEInput, .JEERoll,.JEERollInput,.checkBody,.checkText
{
	display: inline-block;
}
.JEEInput ,.JEERollInput
{
	float: right;
}
.JEERollInput
{
	margin-right: 4%;
}
.checkBody
{
	margin-left: 1%;
}
.checkText
{
	margin-left: 1%;
}
#formSubmit
{
	display: inline-block;
	float: right;
	width: 70px;
	height: 30px;
	border:solid 1px black;
	border-radius: 8px;
}
#formSubmit :hover
{
	box-shadow: 2px 2px 5px black;
}
#formSubmit:active,#formSubmit:focus
{
	outline: none;
}

/*-------END-----------------*/
.bodyPart2
{
	margin-top: 2%;
	background-color: #fc0;
}
.bodyPart2 .col-sm-6
{
	text-align: center;
}







